
*{
    box-sizing: border-box;
}

.container{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: grid;
    
    
}

.order-title{
    background-color: rgb(5, 35, 61);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: rgb(5, 35, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    
}


.table{
    background-color: rgb(5, 35, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.table-body{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.action-content{
    background-color: rgb(5, 35, 61);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.payment{
    padding-top: 10px; 
}

.print{
    padding-top: 10px;
}





